body{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.login-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #efefef; */
}
.login-form{
    width: 500px;
}
.form-control{
    padding-bottom: 12px;
    padding-top: 12px;
}
.profile-box {
    padding: 15px;
    display: flex;
}
.meetings-header {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.login-title >h5{
    font-size: 32px !important;
  
    margin-bottom: 20px;
}
.login-area{
    margin-top: 100px;
    margin-bottom: 100px;
}
.login-subtitle{
    font-size: 32px;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* responsive */
@media (max-width: 768px) {
    .login-page{
        flex-direction: column;
    }
    .login-form{
        width: 100%;
    }
    .login-title > h5{
        font-size: 24px !important;
    }
    .login-subtitle{
        font-size: 24px;
    }
}