body{
    background-color: #efefef;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.login-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
}
.login-form{
    width: 500px;
}
.form-control{
    padding-bottom: 12px;
    padding-top: 12px;
}
.profile-box {
    padding: 15px;
    display: flex;
}
.meetings-header {
    display: flex;
    justify-content: space-between;
    align-items: center
}